@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hotel GUI Exercise 2</h1>

    <p>How to use:</p>
    <p>Login to Reception using Reception@HotelHost with password Reception123/</p>
    <p>Create an entry with a room, # of adults and # of children booked using the reception menu</p>
    <p>Login to Restaurant using Restaurant@HotelHost with password Restaurant123/</p>
    <p>Check in # adults and # children using the restaurant menu</p>
    <p>Login to Kitchen using Kitchen@HotelHost with password Kitchen123/</p>
    <p>See who have not been checked in compared to who is booked using the kitchen menu</p>

</div>
