@model GUI_Hotel.Models.DataModels.Booking

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Booking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="BookingDate" class="control-label"></label>
                <input asp-for="BookingDate" class="form-control" value="@DateTime.Today" />
                <span asp-validation-for="BookingDate" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="RoomNumber" class="control-label"></label>
                <input asp-for="RoomNumber" class="form-control" />
                <span asp-validation-for="RoomNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="AdultsCheckedIn" class="control-label"></label>
                <input asp-for="AdultsCheckedIn" class="form-control" />
                <span asp-validation-for="AdultsCheckedIn" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ChildrenCheckedIn" class="control-label"></label>
                <input asp-for="ChildrenCheckedIn" class="form-control" />
                <span asp-validation-for="ChildrenCheckedIn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

