@model IEnumerable<GUIHotel.Models.DataModels.Booking>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookingDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingDate)
            </td>
            <td>
                @{
                    var rooms = item.BookedRooms.ToList();
                    int TotalAdults = 0;
                    int TotalChildren = 0;
                    foreach(var room in rooms)
                    {
                        TotalAdults += room.AdultCount;
                        TotalChildren += room.ChildCount;
                    }
                    Html.DisplayFor(ModelItem => TotalAdults);
                    Html.DisplayFor(ModelItem => TotalChildren);
                }
            </td>
        </tr>
                    }
    </tbody>
</table>
